p {
  text-indent: 3em;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  font-size: small;
  color: #333;
  }

blockquote {
  margin: 0 0 0 30px;
  padding: 10px 0 0 20px;
  font-size: 88%;
  line-height: 1.5em;
  color: #666;
  background: url(http://www.blogblog.com/tictac/quotes.gif) no-repeat top left;
  }

blockquote p {
  margin-top: 0;
  }

abbr, acronym {
  cursor: help;
  font-style: normal;
  border-bottom: 1px dotted;
  }

code {
  color: #f63;
  }

hr {
  display: none;
  }

img {
  border: none;
  }

/* unordered list style */

ul {
  list-style: none;
  margin: 0 0 20px 30px;
  padding: 0;
  }

li {
  list-style: none;
  padding-left: 14px;
  margin-bottom: 3px;
  background: url(http://www.blogblog.com/tictac/tictac_orange.gif) no-repeat 0 6px;
  }

a:link {
  color: #69c;
  }

a:visited {
  color: #666699;
  }

a:hover {
  color: #693;
  }

a:active {
  color: #cc3333;
  text-decoration: none;
  }

#wrap {
  width: 847px;
  margin: 0 auto;
  text-align: left;
  background: url(http://www.blogblog.com/tictac/tile.gif) repeat-y;
  }

#content {
  margin-left: 62px; /* to avoid the BMH */
  }

#main-content {
  float: left;
  width: 460px;
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1.5em;

  }

#sidebar {
  margin: 0 41px 0 547px;
  padding: 20px 0 0 0;
  font-size: 85%;
  line-height: 1.4em;
  color: #999;
  background: url(http://www.blogblog.com/tictac/sidebar_bg.gif) no-repeat 0 0;
  }


#blog-header {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Trebuchet MS";
  background: #e0e0e0 url(imagen/fondo.png) no-repeat top left;
  }

#blog-header h1 {
  margin: 0;
  #padding: 45px 60px 50px 160px;
  padding: 50px 50px 10px 160px;
  font-size: 300%;
  color: #479EBE;
  text-shadow: #81A75B 2px 2px 2px;
  #background: url(http://www.blogblog.com/tictac/top_h1.gif) no-repeat bottom left;
  }

#blog-header h1 a {
  text-decoration: none;
  color: #fff;
  }

#blog-header h1 a:hover {
  color: #eee;
  }

h2.date-header {
  margin-top: 0;
  padding-left: 14px;
  font-size: 90%;
  color: #f93;
  background: url(http://www.blogblog.com/tictac/date_icon.gif) no-repeat 0 50%;
  }

h3.post-title {
  margin-top: 0;
  font-family: "Lucida Grande", "Trebuchet MS";
  font-size: 130%;
  letter-spacing: -1px;
  color: #f63;
  }

.post {
  margin: 0 0 1.5em 0;
  padding: 0 0 1.5em 14px;
  border-bottom: 1px solid #ddd;
  }

.post-footer {
  text-indent: 0em;
  margin: 0;
  padding: 0 0 0 14px;
  font-size: 88%;
  color: #999;
  background: url(http://www.blogblog.com/tictac/tictac_grey.gif) no-repeat 0 8px;
  }

.post img {
  padding: 6px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  }


#comments {
  padding-top: 10px;
  font-size: 85%;
  line-height: 1.5em;
  color: #666;
  background: #eee url(http://www.blogblog.com/tictac/comments_curve.gif) no-repeat top left;
  }

#comments h4 {
  margin: 20px 0 15px 0;
  padding: 8px 0 0 40px;
  font-family: "Lucida Grande", "Trebuchet MS";
  font-size: 130%;
  color: #666;
  background: url(http://www.blogblog.com/tictac/bubbles.gif) no-repeat 10px 0;
  height: 29px !important; /* for most browsers */
  height /**/:37px; /* for IE5/Win */
  }

#comments ul {
  margin-left: 0;
  }

#comments li {
  background: none;
  padding-left: 0;
  }

.comment-body {
  padding: 0 10px 0 25px;
  background: url(http://www.blogblog.com/tictac/tictac_orange.gif) no-repeat 10px 5px;
  }

.comment-body p {
  margin-bottom: 0;
  }

.comment-data {
  margin: 4px 0 0 0;
  padding: 0 10px 1em 60px;
  color: #999;
  border-bottom: 1px solid #ddd;
  background: url(http://www.blogblog.com/tictac/comment_arrow.gif) no-repeat 44px 2px;
  }


.deleted-comment {
  font-style:italic;
  color:gray;
  }


h2.sidebar-title {
  margin: 0 0 0 0;
  padding: 25px 0 0 50px;
  font-family: "Lucida Grande", "Trebuchet MS";
  font-size: 130%;
  color: #666;
  height: 32px;
  background: url(imagen/tux-point.png) no-repeat 20px 15px;
  height: 32px !important; /* for most browsers */
  height /**/:57px; /* for IE5/Win */
  }

h2.title {
  margin: 0;
  padding: 0px 0px 15px 160px;
  font-family: "Lucida Grande", "Trebuchet MS";

  font-size: normal;
  color: #666;
  height: 32px;
  background: url(http://www.blogblog.com/tictac/top_h1.gif);
  height: 32px !important; /* for most browsers */
  height /**/:57px; /* for IE5/Win */
  }

#sidebar ul, #sidebar p {
  margin: 0;
  padding: 5px 20px 1em 20px;
  border-bottom: 1px solid #ddd;
  }

#sidebar li {
  background: url(http://www.blogblog.com/tictac/tictac_green.gif) no-repeat 0 5px;
  }

/* profile block */

.profile-datablock {
  margin: 0;
  padding: 5px 20px 0 20px;
  }

.profile-datablock dd {
  margin: 0;
  padding: 0;
  }

.profile-img img {
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  background: #fff;
  }

#sidebar p.profile-link {
  padding-left: 36px;
  background: url(http://www.blogblog.com/tictac/profile.gif) no-repeat 20px 4px;
  }

p#powered-by, #sidebar p.profile-textblock {
  margin-top: 1em;
  border: none;
  }

.clear {/* to fix IE6 padding-top issue */
  clear: both;
  height: 0;
  }

#footer {
  margin: 0;
  padding: 0 0 9px 0;
  font-size: 85%;
  color: #ddd;
  background: url(http://www.blogblog.com/tictac/bottom_sill.gif) no-repeat bottom left;
  }

#footer p {
  margin: 0;
  padding: 20px 320px 20px 95px;
  background: url(http://www.blogblog.com/tictac/bottom_sash.gif) no-repeat top left;
  }
