<plugin>
	<nom> <!-- Nom du plugin -->
	Article PDF
	</nom>
	<auteur>	<!-- Auteur du plugin -->
[chag->http://www.spip-contrib.net/_chag_]
_ [Paul Sanches->http://www.spip-contrib.net/_Paul-Sanches_]
_ [Aquinatus->http://www.spip-contrib.net/_Aquinatus_]
_ [C&eacute;dric Morin->http://www.notre-ville.net]
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	stable
	</etat>
	<description>
	Conversion d'un article au format pdf pour telechargement
	Necessite GD2 sur votre serveur
	Inserez la balise #ARTICLE_PDF dans votre squelette pour avoir un lien de telechargement de l'article au format PDF
	</description>
	<lien></lien> <!-- URI de documentation -->
	<options> <!-- fichier charge a chaque hit -->
	article_pdf_mes_options.php
	</options>
	<fonctions> <!-- fichier charge a chaque recalcul -->
	article_pdf_mes_fonctions.php
	</fonctions>
	<prefix> 
	article_pdf
	</prefix>

</plugin>